/*mobile*/
.card {
  height: 100px;
  width: 67px;
}
/*tablet & desktop*/
@media only screen and (min-width: 600px) {
  .card{
    height: 150px;
    width: 100px;
  }  
}

.card {
  max-height: 150px;
  max-width: 100px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.flip-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.flip .flip-card-container {
  transform: rotateY(180deg);
}

.flip-card-back, .flip-card-front {
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  border-radius: 10px;
  border: 4px solid black;
}

.flip-card-back {
  background-color: brown;
}

.flip-card-front {
  background-color: gray;
  transform: rotateY(180deg);
  overflow: hidden;
}

.flip-card-front img, .flip-card-back img {
  width: 100%;
  height: 100%;
}

.matched .flip-card-front {
  opacity: .8;
  border-color: green;
}
