#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/*mobile*/
.container {
  max-width: 300px;
}
/*tablet*/
@media only screen and (min-width: 600px) {
  .container {
    max-width: 550px;
  }
}
/*desktop*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

.container {
  margin: auto
}