/* mobile */
.card-grid {
  gap: auto;
  grid-template: 125px 125px 125px 125px / 92px 92px 92px 92px;
}
/*tablet & desktop*/
@media only screen and (min-width: 600px) {
  .card-grid {
    gap: auto;
    grid-template: 175px 175px 175px 175px / 125px 125px 125px 125px;
  }
}

.card-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}